.container{
  display: flex;
  align-items: center;
  gap: 20px;
  
  
}
body{
  background-color: rgb(77, 77, 155);
}
a {
  text-decoration: none;
  display: flex;
  color: black;
  align-items: center;
  align-content: center;
}
.food,.meat,.drink{

  gap: 40;
}
.inputdiv{
  text-align: center;
  
}